$bgcolor: #09518b;
$bdtxt: #fff;
$ltgray: #f1eeee;
$dkgray: #413f3f;

.main-view {
  background-color: $bgcolor;
  min-height: 100%;
  margin: 0
}

.navbar {
  background-color: $bgcolor;
  width: 100%
}