$bgcolor: #09518b;
$bdtxt: #fff;
$ltgray: #f1eeee;
$dkgray: #413f3f;

.main-view {
  background-color: $bgcolor;
  margin: 0
}

.navbar {
  background-color: $bgcolor;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right:0
}