$bdtxt: #fff;
$bgcolor: #09518b;

.login {
  color: $bdtxt;
  background-color: $bgcolor;
  padding-left: 15px;
  height: 100vh
}

h1, .btn-blk {
  padding-top: 10px
}

.reg-col {
  padding-top: 7px
}

.reg-btn {
  color: $bdtxt
}

.reg-btn:hover {
  color: $bdtxt;
  text-decoration: underline

}


