$bgcolor: #09518b;
$bdtxt: #fff;

/*.app-container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right:0
}

.my-flix {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right:0
}*/

